@import "../../../utils/styles/index.scss";

.Register {

  .paper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .avatar {
    margin-top: 20px;
    background-color: gray;
  }

  .title {
    margin: 10px;
  }

  .form {
    width: 100%; // Fix IE 11 issue.
  }

  button {
    background-color: grey;
    margin-bottom: 10px;
  }

  .submit {
    margin-right: 30px;
    width: 100%;
    align-self: center;
  }

  .linkText {
    color: grey;
  }
  
}

