@import "../../../utils/styles/index.scss";

.Login {
  
  image {
    background-repeat: no-repeat;
    background-color: grey;
    background-size: cover;
    background-position: center;
  }
  
  .paper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .avatar {
    background-color: gray;
    margin-top: 20px;
  }
  
  form {
    width: 80%; // Fix IE 11 issue.
  }

  button {
    background-color: grey;
  }

  .submit {
    margin-right: 30px;
    width: 100%;
    align-self: center;
  }

  .linkText {
    color: grey;
  }
}
